.tickerScrollItem {
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);

  border-radius: 8px;
  padding: 15px 10px;

  margin: 4px 4px 10px;

  & + .tickerScrollItem {
    margin-left: 20px;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(43, 37, 63, 0.1);
  }
}

.tickerCompany {
  display: flex;
  align-items: center;

  button {
    border: 0;
    background: none;
  }

  div {
    display: flex;
    flex-direction: column;

    margin-left: 4px;

    strong {
      font-size: 16px;
      font-weight: 500;
      color: var(--gray-003);
    }

    p {
      font-size: 15px;
      color: var(--gray-002);
    }
  }
}

.tickerCompanyValuation {
  display: flex;
  align-items: center;

  span {
    font-size: 13px;
    font-weight: 500;
    color: var(--success);
    margin-right: 5px;
  }
}
