.recentlyBrowsedContainer {
  display: flex;
  flex-direction: column;
}

.recentlyBrowsedHeader {
  display: flex;
  justify-content: space-between;
}

.recentlyBrowsedButtons {
  button {
    border: 0;
    background: none;

    padding: 0 4px;

    transition: opacity 0.2s;

    & + button {
      margin-left: 10px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.recentlyBrowsedTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  strong {
    margin-left: 5px;
  }
}

.tickerScrollContainer {
  height: 100px;
  display: flex;

  > button {
    border: 0;
  }
}

.tickerScrollContent {
  display: flex;
  overflow: auto;

  scroll-behavior: smooth;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge  */
  scrollbar-width: none; /* Firefox */
}

.tickerScrollFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
