.favoriteContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;

  margin: 20px;

  overflow: hidden;
  height: 90vh;
}

.favoriteCompanies {
  overflow: auto;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--primary-translucent-002);
  border-radius: 30px;
  padding: 4px 8px 4px 4px;

  margin-bottom: 2rem;

  strong {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);

    margin: 0 10px;
  }

  img.userAvatar {
    background-color: var(--primary);
    border-radius: 50%;
  }

  button {
    border: 0;
    background: none;

    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.favoriteTitle {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  strong {
    margin-left: 5px;
  }
}

.companyItem {
  display: flex;
  align-items: center;

  & + .companyItem {
    margin-top: 10px;
  }

  button {
    border: 0;
    background: none;

    margin-right: 15px;

    &:last-child {
      transition: all 0.3s;

      &:hover {
        opacity: 0.5;
        transform: scale(1.3);
      }
    }
  }
}
